# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor / OS
.vscode/
.DS_Store
backfill_log.txt
airflow/secrets/
airflow/logs/
